/* header */

#header {
  font-weight: 500;
}

/* topbar */

.topbar {
  background-color: #333;
  color: #f7f2ee;
  width: 100%;
  height: 50px;
}

.topbar-list {
  max-width: 1250px;
  height: 100%;
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar-left,
.topbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.topbar-side li:not(:last-child) {
  margin-right: 25px;
}

.topbar-side li:hover {
  color: #d1bf91;
  transition: 0.3s;
}

/* web logo */

.web-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  margin: 50px auto;
  text-align: center;
}

.logo-widget {
  display: flex;
  flex-direction: row;
}

.widget-left {
  margin-left: 50px;
}

.widget-right {
  margin-right: 50px;
}

.widget-icon {
  margin: 20px 25px 0;
}

.widget-icon-text {
  font-size: 15px;
  color: #565050;
  margin-top: 8px;
}

.widget-img {
  transition: all 0.3s linear;
}

.widget-icon:hover .widget-img {
  transform: translateY(-10px);
}

.logo .title {
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.logo .slogan {
  text-transform: uppercase;
  color: #979797;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
}

/* nav menu */

#nav-menu,
.footer-menu {
  width: 100%;
  height: 60px;
  background-color: #f7f2ee;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-menu-container,
.footer-menu-container {
  max-width: 1250px;
  margin-right: 50px;
  margin-left: 50px;
}

.header-menu,
.footer-menu-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 17px;
}

.menu-link:hover {
  color: #868686;
}

/* sub menu */

.menu-item {
  position: relative;
  z-index: 100;
}

.sub-menu {
  position: absolute;
  padding-top: 20px;
  top: 100%;
  left: 0;
  width: 150px;
  z-index: 10;
}

.sub-menu-list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  display: none;
}

.sub-menu-item {
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.sub-menu-item:hover {
  background-color: #f7f2ee;
}

.header-menu li:hover .sub-menu-list {
  display: block;
}
