// Footer

footer#footer
  .footer__info
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-lg-4
        .col-12.col-sm-6.col-lg-3
          .footer-info__item
            h4.footer-info__title THÔNG TIN LIÊN HỆ

            ul.footer-info__list
              li.footer-info__list-item
                span.iconify(data-icon='entypo:location-pin' data-inline='false')
                span  ĐC: 15 Trần Phú, Hoàn Kiếm, HN

              li.footer-info__list-item
                span.iconify(data-icon='icomoon-free:mobile' data-inline='false')
                span  Hotline: 0123456789

              li.footer-info__list-item
                span.iconify(data-icon='carbon:email' data-inline='false')
                span  Email: laparfumania@gmail.com

            .footer-info__social-icons.info-bar__social-icons
              a(href='#')
                span.iconify.youtube-icon(data-icon='carbon:logo-youtube' data-inline='false')

              a(href='#')
                span.iconify.facebook-icon(data-icon='bx:bxl-facebook' data-inline='false')

              a(href='#')
                span.iconify.email-icon(data-icon='carbon:email' data-inline='false')

              a(href='#')
                span.iconify.instagram-icon(data-icon='carbon:logo-instagram' data-inline='false')
                
              a(href='#')
                span.iconify.pinterest-icon(data-icon='bx:bxl-pinterest-alt' data-inline='false')

              a(href='#')
                span.iconify.twitter-icon(data-icon='bx:bxl-twitter' data-inline='false')

        .col-12.col-sm-6.col-lg-3
          .footer-info__item
            h4.footer-info__title THỜI GIAN LÀM VIỆC

            ul.footer-info__list
              li.footer-info__list-item
                | Thứ 2 - Thứ 6: 8AM - 11PM

              li.footer-info__list-item
                | Thứ 7, Chủ Nhật: 9AM - 9PM

              li.footer-info__list-item Nghỉ các ngày lễ, Tết

        .col-12.col-sm-6.col-lg-3
          .footer-info__item
            h4.footer-info__title DỊCH VỤ KHÁCH HÀNG

            ul.footer-info__list
              li.footer-info__list-item
                a(href='#') Câu hỏi thường gặp

              li.footer-info__list-item
                a(href='#') Hướng dẫn mua hàng online

              li.footer-info__list-item
                a(href='#') Chính sách bảo mật
                
              li.footer-info__list-item
                a(href='#') Liên hệ và góp ý

        .col-12.col-sm-6.col-lg-3
          .footer-info__item
            h4.footer-info__title CHÍNH SÁCH MUA HÀNG

            ul.footer-info__list
              li.footer-info__list-item
                a(href='#') Chính sách bảo hành, đổi trả

              li.footer-info__list-item
                a(href='#') Chính sách giao hàng, hoàn hủy

              li.footer-info__list-item
                a(href='#') Ưu đãi thẻ thành viên

  .footer__copyright
    p.footer__copyright-content
      span All rights reserved | 
      span.iconify(data-icon='la:copyright-solid' data-inline='false') 
      span  La Parfumania 2021
