// Home Header Banner

.container-fluid.hero-content
	.banner-slider.desktop-banner
		.banner-slider__slide
			img.banner-slider__img(src='./images/banners/home-banner-01.webp' alt='home-banner')

			img.mobile-slider__img(src='./images/banners/mobile-banner-01.webp' alt='home-banner')

			.banner-slider__content
				p.banner-slider__title La Parfumania

				p.banner-slider__info Perfumes Gallery
                
				button.banner-slider__btn.btn-checkmore.first-banner-btn
					a(href='./about.html') Tìm hiểu thêm

		.banner-slider__slide
			img.banner-slider__img(src='./images/banners/home-banner-02.webp' alt='home-banner')

			img.mobile-slider__img(src='./images/banners/mobile-banner-02.webp' alt='home-banner')

			.banner-slider__content
				p.banner-slider__title Bộ sưu tập mới

				p.banner-slider__info Armani Acqua di Gioia

				button.banner-slider__btn.btn-checkmore.second-banner-btn
					a(href='./brand-products.html')  Tìm hiểu thêm

		.banner-slider__slide
			img.banner-slider__img(src='./images/banners/home-banner-03.webp' alt='home-banner')

			img.mobile-slider__img(src='./images/banners/mobile-banner-03.webp' alt='home-banner')

			.banner-slider__content
				p.banner-slider__title Sản phẩm mới

				p.banner-slider__info Roja Elixir Pour Femme

				button.banner-slider__btn.btn-checkmore.last-banner-btn
					a(href='./product-detail.html') Tìm hiểu thêm
