body {
  margin: 30px 200px;
  font-family: "Segoe UI";
  color: rgb(0, 70, 0);
  background-image: url(https://wallpaperset.com/w/full/4/6/7/96482.jpg);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
table,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
}
table {
  text-align: center;
  font-size: 20px;
  caption-side: bottom;
}
th,
td {
  width: 120px;
  padding: 3px;
}
.odd-row {
  background-color: #d5e3cf;
}
.even-row {
  background-color: #ebf1e9;
}
tbody td:hover,
tbody th:hover {
  background-color: #fff4e7;
}
.special-prize td,
.special-prize th {
  color: red;
  font-weight: bold;
  background-color: #fff4e7;
}
.special-prize td:hover,
.special-prize th:hover {
  background-color: #ffe8cb;
}
thead {
  color: white;
  font-size: 26px;
  background-color: #70ad47;
}
tfoot {
  color: rgb(0, 70, 0);
  font-size: 18px;
  font-weight: bold;
  background-color: #fff4e7;
}
caption {
  color: white;
  font-style: italic;
  font-size: 18px;
  padding: 5px;
}
span {
  color: red;
}
