@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rufina:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #6c6c6f;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  margin-left: 80px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  width: 25%;
  margin-right: 160px;
}

.header-nav {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
}

.menu {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-item {
  color: #263a41;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.menu-item:hover {
  color: #ff817e;
}

section {
  position: relative;
  padding: 50px 0;
  width: 100%;
}

.section-content {
  text-align: center;
}

.section-intro {
  color: #555;
  margin: auto 270px 60px;
}

/* banner section */
.banner {
  padding-top: 130px;
  padding-bottom: 0;
  position: relative;
  background-image: url(https://demo.themeies.com/leospa/images/leaf.png);
  background-repeat: no-repeat;
  background-size: 13%;
  background-position-x: left;
  background-position-y: bottom;
}

.banner-content {
  margin-left: 80px;
  width: 50%;
}

.banner-image {
  position: absolute;
  width: 43%;
  top: 0;
  right: 0;
}

.banner-title {
  color: #ff817e;
  font-family: "Rufina", serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h1.banner-slogan {
  color: #1e2528;
  font-family: "Rufina", serif;
  font-size: 59px;
  line-height: 75px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

p.banner-intro {
  color: #555;
  margin-bottom: 50px;
}

.reserve-btn,
.readmore-btn {
  display: inline-block;
  color: #ffffff;
  background-color: #ff817e;
  width: 170px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.8;
  padding: 20px 15px;
  transition: 0.15s ease-in-out;
}

.reserve-btn:hover,
.readmore-btn:hover {
  color: #212529;
}

a.video-btn {
  color: #555;
  font-weight: 400;
  margin-left: 15px;
}

.fa-play {
  display: inline-block;
  background-color: #fcf5ee;
  color: #ff817e;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  margin-right: 10px;
  height: 44px;
  width: 44px;
  padding-top: 15px;
  padding-left: 4px;
}

.video-btn:hover span {
  color: #ff817e;
}

/* about section */
.about {
  text-align: center;
  position: relative;
  margin-top: 100px;
}

.red-flower {
  position: absolute;
  left: 16%;
  top: 0;
}

.pink-flower {
  position: absolute;
  right: 135px;
  top: 43%;
}

.about-content {
  margin-top: 40px;
}

.about-intro {
  margin: auto 170px 50px;
}

.about-header {
  color: #888;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.section-title {
  font-family: "Rufina", serif;
  font-weight: 700;
  color: #1e2528;
  font-size: 40px;
  line-height: 1.2;
}

.readmore-btn {
  border-radius: 50px;
  margin-top: 20px;
}

/* service section */
.service {
  display: flex;
}

.service-card:not(:last-child) {
  margin-right: 5px;
}

.service-card {
  position: relative;
}

.service-hover {
  background-color: rgba(255, 129, 126, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.service-hover img {
  width: 47px;
  margin: 0 auto 5px;
}

.service-hover p {
  font-family: "Rufina", serif;
  font-weight: 700;
  color: #ffffff;
}

.service-card:hover .service-hover {
  opacity: 1;
}

/* procedure section */
.procedure,
.blog {
  padding-top: 20px;
}

.procedure-image-list,
.blog-image-list {
  margin-right: 80px;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.procedure-card,
.blog-card {
  max-width: 31.5%;
  text-align: center;
  padding: 20px;
  border: 1px solid #e3e6ea;
  transition: 0.3s ease-in-out;
}

.card-title {
  font-family: "Rufina", serif;
  font-weight: 700;
  color: #263a41;
  font-size: 22px;
}

.procedure-card .readmore-btn,
.blog-card .readmore-btn {
  background-color: #30383b;
  padding: 15px;
  margin-bottom: 30px;
}

.procedure-card:hover .readmore-btn,
.blog-card:hover .readmore-btn {
  background-color: #ff817e;
  color: #ffffff;
}

.procedure-card:hover,
.blog-card:hover {
  box-shadow: 0 5px 15px rgba(227, 230, 234, 0.7);
}

/* feedback section */
.client-feedback .feedback-card {
  background-color: #fff9f8;
  text-align: center;
  padding: 50px 170px;
}

p.feedback-content {
  color: #263a41;
  font-family: "Rufina", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.client-image {
  border-radius: 50%;
  margin-bottom: 15px;
}

.client-name {
  color: #263a41;
  font-family: "Rufina", serif;
  font-size: 22px;
}

.client-job {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

/* team section */
.team {
  padding-top: 0;
}

.team-image-list {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 80px;
}

.team-card {
  width: 31.5%;
  text-align: center;
  position: relative;
}

.team-detail {
  background-color: #ffffff;
  min-width: calc(100% - 60px);
  box-shadow: 0 5px 15px rgba(227, 230, 234, 0.7);
  padding: 20px 15px;
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
  bottom: -20%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.team-name {
  margin-top: 12px;
  margin-bottom: 0;
}

.team-intro {
  margin-top: 0;
  margin-bottom: 12px;
}

.social-icon .fa {
  color: #263a41;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #263a41;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.social-icon .fa:hover {
  color: #ffffff;
  background-color: #ff817e;
  border: 1px solid #ff817e;
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}

.team-social {
  margin-top: -15px;
  margin-bottom: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}

.team-card:hover .team-social {
  display: block;
  visibility: visible;
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 12px;
}

.team-card:hover .team-detail {
  bottom: -19%;
}
